.firstScreen {
  position: relative;
  width: 100vw;
  height: 100%;
  background-position: bottom right;
  background-size: cover;
  background-image: url("https://cdn.jsdelivr.net/gh/esmyy/imghost@main/images/air-beijing-chengdu.jpg");
}

.links {
  position: absolute;
  left: 50%;
  top: 40vh;
  transform: translateX(-50%);
  border-radius: 4px;
  padding: 24px;
  color: #fff;
  display: flex;
  justify-content: center;
  margin-top: 8px;
}

.links a {
  color: #fff;
  text-decoration: underline;
}

.pictureWrapper {
  position: absolute;
  bottom: 32px;
  right: 32px;
  line-height: 24px;
  display: flex;
}

.avatar {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  box-shadow: inset;
}

.pictureInfo {
  margin-left: 16px;
}

@media screen and (max-width: 768px) {
  .links {
    flex-direction: column;
  }
}
