.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.features.inside {
  position: absolute;
  bottom: 60px;
}

.link {
  color: inherit;
  cursor: pointer;
}

.link:hover {
  text-decoration: underline;
}
.featureSvg {
  height: 200px;
  width: 200px;
}
